
/bin/
/pkg/
/build/
*.exe
*.out
*.test
*.o

go.sum


*.env
.env.*
.idea/
.vscode/
*.swp


*.log
*.tmp


*.db
*.sqlite
*.sql


vendor/


.DS_Store
Thumbs.db


*.coverprofile
*.test


ginkgo-node-log


docker-compose.override.yml
